.text{
    font-family : 'Comic Sans MS', cursive, sans-serif;
    position:absolute;
    left: 40%;
    top: 40%;
    font-size: 40px;
    color: #E4E4E4;
    margin: 0 auto;
}
button{
    font-family : 'Comic Sans MS', cursive, sans-serif;
}
.btnindex{
    margin: 0 auto;
}
#yes{
    position:absolute;
    left: 40%;
    top: 50%;

    height: 50px;
    width: 100px;

}
#no{
    position:absolute;
    left:55%;
    top:50%;
    height: 50px;
    width: 100px;
}
