h1{
    font-family : 'Comic Sans MS', cursive, sans-serif;
    position:absolute;
    left: 40%;
    top: 40%;
}
button{
    font-family : 'Comic Sans MS', cursive, sans-serif;
}
#yes{
    position:absolute;
    left: 40%;
    top: 50%;

    height: 50px;
    width: 100px;

}
#no{
    position:absolute;
    left:55%;
    top:50%;
    height: 50px;
    width: 100px;
}
